<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="show_sql">true</property>
        <property name="format_sql">false</property>
        <property name="hibernate.cache.use_query_cache">true</property>
        <property name="connection.driver_class">
            com.mysql.cj.jdbc.Driver
        </property>
        <property name="connection.url">
            jdbc:mysql://127.0.0.1:3306/test
        </property>
        <property name="connection.username">root</property>
        <property name="connection.password">Zr5e5%1010,,,</property>
        <property name="cache.provider_class">
            org.hibernate.cache.ehcache.internal.EhcacheRegionFactory
        </property>
<!--        <mapping resource="resources/User.hbm.xml"/>-->
    </session-factory>
</hibernate-configuration>